* {
    box-sizing: border-box;
}

:root
{
    --background-color: #272727;
    --heading-text-color: #FFFFFF;
    --body-text-color: #B3B9C5;
    --masthead-color: #1B1B1B;
    --line-sep-color: #444444;
    --link-underline-color: #07611e;
    --nav-bar-height: 55px;
    --footer-height: 48px;
    --max-page-width: 800px;
    --max-post-width: 700px;
}

html
{
    overflow-y: overlay;
}

.header
{
    padding: 20px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    background: white;
    color: #fff;
    border-bottom: 2px solid var(--link-underline-color);
}

body
{
    margin: 0;
    line-height: 1.6;
    min-height: 100vh;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--body-text-color);
    background-color: var(--background-color);
}

body::after
{
    content: '';
    display: block;
    height: var(--footer-height);
}

a
{
    text-decoration: none;
    border-bottom: 2px solid var(--link-underline-color);
    color: var(--body-text-color);
}

.masthead
{
    /* Put a bar under Navigation Bar to extend to screen edges */
    height: var(--nav-bar-height);
    margin-bottom: calc(-1 * var(--nav-bar-height));
    background-color: var(--masthead-color);
    position: fixed;
    width: 100%;
}

.navigation
{
    overflow: hidden;
    background-color: var(--masthead-color);
    width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
    height: var(--nav-bar-height);
    position: fixed;
    transform: translate(calc(50vw - 50%), 0);
}

.links
{
    float: right;
}

.navigation a
{
    float: left;
    color: var(--heading-text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navigation a.contact-icon
{
    color: var(--heading-text-color);
    padding: 7px 5px;
    text-decoration: none;
}

.navigation a:hover
{
    background-color: var(--heading-text-color);
    color: var(--masthead-color);
}

#housing
{
    width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.post
{
    width: var(--max-post-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}

.linesep
{
    border-bottom: 2px solid var(--line-sep-color);
    margin-top: 2.5rem;
}

.foot {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: var(--footer-height);
    padding: 10px;
    text-align: center;
    background: var(--masthead-color);
}

@media screen and (min-width: 736px) and (max-width: 800px)
{
    .navigation { width: 100%; position: static; }
    .masthead { position: static; }
}

@media screen and (max-width: 735px)
{
    html { overflow-y: auto; }
    .navigation { width: 100%; float: center; height: auto; position: static; transform: none; }
    .masthead { position: static; }
    .navigation a { width: 100%; float: center; text-decoration: none; border-bottom: none; }
    .links { width: 100%; float: center; text-decoration: none; }
    .links a { width: 100%; float: center; }
    .linesep { width: 100%; }
    #housing { width: 100%; }
    .post { width: 90%; }

    .navigation a.contact-icon
    {
        text-align: center;
        display: inline-block;
        width: 25%;
        text-decoration: none;
    }
}
